:host {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  pointer-events: none;
  position: relative;
  display: block;
}
:host > canvas {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
:host > #outline {
  pointer-events: none;
  border: 1px solid #eee;
}
:host(.rendering) > #outline {
  border: 1px solid #fff5c0;
}